<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Встречи</h1>

<table>
    <% @meetings.each do |meeting| %>
    <div class="line">

      <div class="<%= cycle('entry_l', 'entry_r') %>">
        <%=link_to image_tag(meeting.image_url), meeting_path(meeting)%>
        <h2><%= truncate(meeting.title, length: 12) %></h2>
      </div>
    </div>
    <% end %>
</table>

