/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any styles defined in the other CSS/SCSS
 * files in this directory. It is generally better to create a new file per
 * style scope.
 * 
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

 div, span, body {
  //background-color: #ADD8E6;
 }
 body {
  margin:0;
  width:100%;
 }
header {
  background-color: #f4ad3d;
  width:99%;
  height: 50px;
  padding: 10px;
  font: small-caps 40px/40px "Times New Roman", serif;
  img {
    margin-left: 20px;
    float: left;
    width: 55px;
  }
  #login {
    font: small-caps 15px/10px "Times New Roman", serif;
    text-align: right;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}


