// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.meetings {
  height: 50em;
  width: 100%;
  #map {
    width: 82%;
    height: 300px;
    }
  .meeting_page {
    background: #ffffff;
    width: 80%;
    border: 1px solid #c8c8c8;
    h2 {
      text-align: center;
    }
    .description {
      text-align: center;
    }
    .image {
      text-align:center;
      padding-bottom: 10em;
      border-bottom: 2px dotted black;
    }
    #map {
      margin: auto;
      width: 600px;
      height: 300px;
    }
    .address {
      text-align: center;
      padding-bottom: 10em;
      border-bottom: 2px dotted black;
    }
    .comments {
      h2 {
      padding-left: 10px;
        text-align: left;
      }
      .comment {
        .avatar {
          width: 30px;
          height: 30px;
          float:left;
        }
        .text {
          padding-top: 12px;
        }
      .form {

      }
      }
    }
  }
  .meeting {
    float:left;
    border-radius: 5px;
    background: #ffffff;
    margin: 5px;
    display: inline-block;
    height: 200px;
    width: 350px;
    padding: 10px;
    border: 1px solid #c8c8c8;
    .deleteAction {
      color: blue;
      cursor: pointer;
    }
    h2 {
    }
    .description {
    }
    img {
      width: 15em;
      height: 10em;
      border-radius: 5px;
      float: right;
    }
  }
  .meeting:hover {
    background: #fafafa;
  }
  clear: both;
}
