// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.meetings {
  clear: both;
  margin: 7em;
  height: 50em;
  width: 100%;
  .meeting {
    border-radius: 5px;
    background: #ffffff;
    margin: 5px;
    display: inline-block;
    height: 200px;
    width: 350px;
    padding: 10px;
    border: 2px solid #c8c8c8;
    h2 {
    }
    .description {
    }
    img {
      width: 15em;
      height: 10em;
      border-radius: 5px;
    }
  }
  .meeting:hover {
    background: #fafafa;
  }
}
  .deleteAction {
    color: blue;
    cursor: pointer;
  }
